* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-size-adjust: none;
}

/* Layout */

html, body {
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-flow: column;
}

header {
    position: relative;
    min-height: 41px;
    z-index: 2;
    border-bottom: 1px solid #bbb;
}

#main {
    position: relative;
    width: 100%;
    flex: 1;
    min-height: 0; /* http://stackoverflow.com/a/36247448/171579 */
}

footer {
    display: none;
    min-height: 16px;
    padding: 2px 5px 2px;
    border-top: 1px solid #bbb;
}

/* Header */

header form {
    display: inline;
}

header h1 {
    font-family: 'Nova Mono', arial, sans-serif;
    display: inline-block;
    margin: 0px 0 0 13px;
    vertical-align: -3px;
    font-size: 27px;
}

header h1 .z {
  margin-left: -2%;
}
header h1 .r {
  margin-left: -1%;
}
    
header .slogan {
    display: inline-block;
    width: 3em;
    vertical-align: -6px;
    font-size: 7.5px;
    text-transform: uppercase;
    margin: 0 10px 0 5px;
    line-height: 8px;
}

#searchform {
    position: relative;
}

header #searchinput {
    width: 8em;
    font-size: 18px;
    margin: 6px 11px;
    padding: 2px 6px;
}

#githublink {
    float: right;
    margin: 15px 10px 0;
    text-decoration: none;
}

/* Footer */

footer div {
    float: left;
    margin: 2px 0;
}

footer a {
    color: #555;
    text-decoration: none;
}

#attribution {
    float: right;
    margin: 12px 12px 0;
}

small {
    font-size: 10px;
}

/* Elements */

button, .button {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  color: #fff;
  background-color: #007bff;
  border: 1px solid transparent;
  border-color: #007bff;
  padding: .25rem .5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin-top: .25rem;
  margin-bottom: .25rem;
  cursor: pointer;
}

button.cancel,
.button.cancel {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

button:hover,
.button:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

button.cancel:hover,
.button.cancel:hover {
  background-color: #5a6268;
  border-color: #545b62;
}



/* Widgets */

#mainmap {
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: crosshair;
}

#modals {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow: visible;
}

#modals section {
    position: absolute;
    display: none;
    padding: 1em;
    font-size: 14px;
    background-color: rgba(255,255,255,0.95);
}

#modals h3 {
    margin: 0.5em 0 1em;
}

#searchresults {
    right: 0;
    max-width: calc(100% - 2em - 55px);
}

#searchresults-list {
    list-style: none;
}

#searchresults-list li {
    padding: 0.7em 0;
    cursor: pointer;
}

#searchresults-list li:hover {
    background-color: #eef;
}

#search-term {
    font-style: italic;
}

#siteInfo {
  top: 2em;
  left: 10%;
  right: 10%;
  bottom: 2em;
  margin: 0 auto;
  max-width: 50em;
  border-radius: 1em;
  border: 1px solid rgba(0,0,0,0.2);
  overflow-y: auto;
}

.closebutton {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0.2em 0.4em;
    font-size: 1.5em;
    cursor: pointer;
}

.closebutton::before {
    content: "×";
}

.closebutton:hover {
    color: #555;
}

header .button {
  vertical-align: -4px;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin: 0 2px;
}

header .button:hover {
  background-color: transparent;
  border-color: transparent;
}

#attribution .button {
  margin: 0;
}

header .button svg {
    xwidth: 20px;
    xheight: 22px;
}

#createURL svg {
    xwidth: 16px;
    xheight: 16px;
}

header .button.disabled {
    opacity: 0.5;
    /*cursor: default;*/
}

.copybutton {
  cursor: pointer;
}

/* Map Content */

#mainmap .leaflet-div-icon {
  border: none;
  background: transparent;
  /*background: rgba(255,255,255,0.2);*/
  /*padding: 3px;*/
}

#mainmap .leaflet-div-icon .btn-remove {
  position: absolute;
  visibility: hidden;
  transition: visibility 0.8s;
  top: 0;
  left: calc(100% + 2px);
}

#mainmap .leaflet-div-icon:hover .btn-remove {
  visibility: visible;
}

#mainmap .leaflet-div-icon .title {
  position: absolute;
  bottom: 108%;
  left: 50%;
  width: 80px;
  margin-left: -40px;
  text-align: center;
  text-shadow: 1px 1px 2px #ffffff;
  font-weight: bold;
  line-height: 1;
}

#mainmap .leaflet-div-icon .title span {
  padding: 0 1px;
  background-color: rgba(255,255,255,0.2);
}

/* Popup */

#mainmap .leaflet-popup-content-wrapper .grip {
  position: absolute;
  top: -1px;
  right: -35px;
  bottom: 1px;
  width: 45px;
  height: 100%;
  background-color: #e8e8e8;
  background-image: url("img/move.png"), url("img/grip.png");
  background-repeat: no-repeat, repeat;
  background-position: 22px 50%, 0 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid #c7c7c7;
  border-left: none;
  cursor: move;
  box-shadow: 0 3px 14px rgba(0,0,0,0.2);
  z-index: -1;
}


#mainmap .leaflet-popup-content {
  margin: 8px 8px;
  /* width: 230px; */
}

#mainmap .leaflet-popup-content .tabs {
  margin: -4px 0 4px;
  font-size: 10px;
}

#mainmap .leaflet-popup-content input.field-title{
  display: block;
  width: 200px;
  margin-bottom: 3px;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #ddd;
}

#mainmap .leaflet-popup-content textarea.field-description{
  display: block;
  width: 200px;
  height: 60px;
  margin-bottom: 3px;
  padding: 2px;
  font-size: 10px;
  font-family: inherit;
  border: 1px solid #ddd;
}

#mainmap .leaflet-popup-content .copyable {
  cursor: pointer;
  padding-right: 14px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M296 48H176.5C154.4 48 136 65.4 136 87.5V96h-7.5C106.4 96 88 113.4 88 135.5v288c0 22.1 18.4 40.5 40.5 40.5h208c22.1 0 39.5-18.4 39.5-40.5V416h8.5c22.1 0 39.5-18.4 39.5-40.5V176L296 48zm0 44.6l83.4 83.4H296V92.6zm48 330.9c0 4.7-3.4 8.5-7.5 8.5h-208c-4.4 0-8.5-4.1-8.5-8.5v-288c0-4.1 3.8-7.5 8.5-7.5h7.5v255.5c0 22.1 10.4 32.5 32.5 32.5H344v7.5zm48-48c0 4.7-3.4 8.5-7.5 8.5h-208c-4.4 0-8.5-4.1-8.5-8.5v-288c0-4.1 3.8-7.5 8.5-7.5H264v128h128v167.5z"/></svg>');
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 100% 0;
}

#mainmap .leaflet-popup-content .copyable.copied {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M296 48H176.5C154.4 48 136 65.4 136 87.5V96h-7.5C106.4 96 88 113.4 88 135.5v288c0 22.1 18.4 40.5 40.5 40.5h208c22.1 0 39.5-18.4 39.5-40.5V416h8.5c22.1 0 39.5-18.4 39.5-40.5V176L296 48zm0 44.6l83.4 83.4H296V92.6zm48 330.9c0 4.7-3.4 8.5-7.5 8.5h-208c-4.4 0-8.5-4.1-8.5-8.5v-288c0-4.1 3.8-7.5 8.5-7.5h7.5v255.5c0 22.1 10.4 32.5 32.5 32.5H344v7.5zm48-48c0 4.7-3.4 8.5-7.5 8.5h-208c-4.4 0-8.5-4.1-8.5-8.5v-288c0-4.1 3.8-7.5 8.5-7.5H264v128h128v167.5z"/><path d="m215 223 82.4 73.8 165-213" fill="none" stroke="white" stroke-linecap="round" stroke-width="90"/><path d="m215 223 82.4 73.8 165-213" fill="none" stroke="black" stroke-linecap="round" stroke-width="50"/></svg>');
}

#mainmap .leaflet-container a.leaflet-popup-close-button {
}


/* Icons */

small .icon {
  width: 12px;
  height: 12px;
  vertical-align: -3px;
}

/* Responsive */

@media (max-width: 434px) {
    header .slogan {
        display: none;
    }
}

@media (max-width: 390px) {
    header #searchinput {
        width: 5em;
    }
}

@media (max-width: 325px) {
    #searchform {
        display: none;
    }
}

